<!-- products/index.html.erb -->
<h1>Products</h1>

<ul>
  <% @products.each do |product| %>
    <li>
      <h2><%= product.name %></h2>
      <p><%= product.description %></p>
      <p>Price: <%= number_to_currency(product.price) %></p>
      <% if product.image.attached? %>
        <%= image_tag product.image.variant(resize: "100x100") %>
        
      <% else %>
        <p>No image available</p>
      <% end %>
    </li>
  <% end %>
</ul>
